---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #FCBF00;
    background-image: linear-gradient(120deg, rgb( 252, 191, 0 ), rgb( 237, 110, 31 ));
}

